
    <div class="ui visible inverted left vertical sidebar">
        <div class="ui menu">
            <div class="header item">KOSMOS HR</div>
        </div>
        <div class="ui secondary vertical menu" style="width:100%;z-index:1000">
            <a class="active item">Dashboard</a>
            <a class="item">Profile</a>
            <a class="item">Employees</a>
            <a class="item">Tasks</a>
            <div class="ui dropdown item">
                Settings
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="header">Settings</div>
                    <a class="item">Configurations</a>
                    <a class="item">General Settings</a>
                    <a class="item">Subscription</a>
                </div>
            </div>
            
        </div>
    </div>
    
            

